.custom-border-1 {
    border-style: solid;
    border-width: 48px 42px 42px 39px;
    -moz-border-image: url(http://l.rgbimg.com/cache1wh2Tp/users/x/xy/xymonau/600/owyWE6O.jpg) 24 22 22 repeat;
    -webkit-border-image: url(http://l.rgbimg.com/cache1wh2Tp/users/x/xy/xymonau/600/owyWE6O.jpg) 24 22 22 repeat;
    -o-border-image: url(http://l.rgbimg.com/cache1wh2Tp/users/x/xy/xymonau/600/owyWE6O.jpg) 24 22 22 repeat;
    border-image: url(http://l.rgbimg.com/cache1wh2Tp/users/x/xy/xymonau/600/owyWE6O.jpg) 24 22 22 repeat;
}
.custom-border-2 {
    border-style: solid;
    border-width: 38px 42px;
    -moz-border-image: url(../uploads/products/frames/wall-frame1.png) 85 84 84 89 repeat;
    -webkit-border-image: url(../uploads/products/frames/wall-frame1.png) 85 84 84 89 repeat;
    -o-border-image: url(../uploads/products/frames/wall-frame1.png) 85 84 84 89 repeat;
    border-image: url(../uploads/products/frames/wall-frame1.png) 85 84 84 89 repeat;
}