body {
    overflow-x: hidden;
   /* font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;*/
   font-family: 'opensans-regular';
}
/*.container{
    width: 1024px;
}*/

.text-muted {
    color: #777;
}

.text-primary {
    color: #fed136;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #fed136;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #fed136;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #fed136;
    background-color: #fed136;
}

.btn-primary .badge {
    color: #fed136;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #fed136;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #fed136;
    background-color: #fed136;
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    /*background-color: #222;*/
    color: #252525;
    margin-bottom: 0;
    /*padding: 5px 0;*/
}
.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fed136;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;

}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: 'telegrafico';
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
    color: #252525;
    transition: all ease .3s;
    padding-top: 20px;
    padding-bottom: 20px;

}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fff;
    background-color: #222;
}

.navbar-default .navbar-nav>.active>a {
    outline: 0;
    border-radius: 0 !important;
    color: #fff;
    background-color: #222;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #222;
}


header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding: 140px 0;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "telegrafico",Helvetica,Arial,sans-serif;
    font-size: 30px;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: "telegrafico",Helvetica,Arial,sans-serif;
    font-size: 69px;
    /*font-weight: 700;*/
    line-height: 50px;
    border: 3px solid #fff;
    padding: 30px;
}



section {
    padding: 50px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 35px;
    font-family: "telegrafico";
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}



.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}



.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #fed136;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}


.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

aside.clients img {
    margin: 50px auto;
}

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    background-color: #252525;
    color: #fff;
}
footer a { color: #fff; text-decoration: none; font-family: 'opensans-regular'; }
footer a:hover { text-decoration: none; color: #fff; }
footer h2 { font-family: 'opensans-bold'; font-size: 20px; }
footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer .list-social a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #252525;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    text-align: center;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #a45923;
}
ul.social-buttons li { padding: 0; }
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}


.portfolio-modal .modal-content {
    padding: 0 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

::selection {
    text-shadow: none;
    background: #fed136;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #fed136;

}


/*MY CUSTOM*/
.logo img { margin: 20px 0; }
#smart-header { margin-top: 20px; }

#smart-header a { text-decoration: none; color: #252525; font-size: 13px; }
#smart-header .list-smart .link { font-family: 'opensans-bold'; }
/*#smart-header .link { border-right: 1px solid #dddddd; padding-right: 12px; }
#smart-header .link:hover, #smart-header .link:focus  { color: #fed136; }*/
#smart-header li { border-right: 1px solid #dddddd; padding: 0 10px 0 6px; }
#smart-header li:last-child { border: none; }
#smart-header .dropdown-menu { min-width: 70px; }
#smart-header .dropdown-menu li { border: none; padding-right: 0; }

.frames .item { font-family: 'opensans-light'; color: #323233; cursor: pointer; margin-bottom: 20px}
.frames .frame-link { color: #252525; text-decoration: none; }
.frames .img-frame { min-height: 300px; }
.frames .item .content .title { font-family: 'opensans-light'; }
.frames .item .content { background-color: #fff; padding: 40px 25px 10px 25px;/* position: relative; top: -300px; left: 15px; height: 93%; width: 78%;*/
    position: absolute;
    top: 3%;
    left: 8%;
    min-height: 93%;
    width: 78%;
}
.frames-small .item .content .title { font-size: 16px; }
.frames-small .item .content {
    position: absolute;
    top: 4%;
    left: 10%;
    min-height: 70% !important;
    width: 79%; }
.frames .item .content .description { padding-top: 10px; margin-top: 20px; border-top: 2px dashed #ddd; }
.frames .description a { color: #252525; font-family: 'opensans-bold'; }
.frames .item .detail { background-color: rgba(255, 255, 255, 0.9); /*position: absolute; top: -88px; padding: 5px 15px; width: 100%;  min-height: 80px;*/
    position: absolute; bottom:0px; padding: 5px 15px; width: 91%; min-height: 80px;
}
.frames .item .detail .title { text-transform: none; font-size: 14px; line-height: 15px; margin-bottom: 0; }
.frames .item .detail .title span { font-size: 11px; font-style: italic; }
.frames .item .detail .description { padding-top: 5px; }
.frames .item .detail .description a { font-size: 14px; font-weight: bold; text-decoration: none;  }
.frames .item .detail .subhead { font-family: 'Myriad Pro'; font-size: 9px; font-style: italic; }
.btn-default, .btn-default:focus {
    border-radius: 0;
    background-color: #252525;
    color: #fff;
    font-family: 'telegrafico' !important;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-default:hover, .btn-default.active{
    background-color: #3d3c3c;
    color: #fff;
}

.btn-vivid { background-color: #dcdcdc; color: #252525; }
.btn-vivid:hover { background-color: #d0d0d0 !important; }

.btn-submit { font-family: "telegrafico"; text-transform:uppercase; color: #222; background-color: #fff; border-radius: 0;  padding-right: 35px; padding-left: 35px; font-size:20px; border: none; border-bottom: 4px solid #c4c4c4; }
.btn-submit:hover { color: #fff; background-color: #dcdedf; border-bottom: 4px solid #a4a4a4; }

#contact-form { margin: 0; }
#contact-form input{ border-radius: 0; height: 40px; font-size: 13px; }
#contact-form h2 { padding-left: 13px; }
#contact-form textarea { border-radius: 0; height: 200px; font-size: 13px; }

#testimony { padding: 50px 50px; }
#collections { padding: 50px 0; }
#testimony .content { font-family: 'MTCORSVA'; font-size: 50px; }
#testimony .qoute-left { position: relative; top: -22px; }
#testimony .qoute-right { position: relative; top: 15px; }

#must-have { padding: 0; }
#must-have .item { padding: 50px; }
#must-have .item img { border: 6px solid #f1f1f1; }
#must-have .item .title { font-family: 'opensans-bold'; }
#must-have .item .description { font-family: 'opensans-light'; }

.owl-carousel .item { margin: 15px; }
.owl-carousel .item img { display: block; width: 100%; height: auto; }

.owl-theme .owl-controls .owl-buttons div { padding: 5px 9px; }
.owl-theme .owl-buttons i{ margin-top: 2px; }
.owl-theme .owl-controls .owl-buttons div { position: absolute; background: none !important;; color: #252525 !important;; font-size: 60px !important; }
.owl-theme .owl-controls .owl-buttons .owl-prev{ left: -60px; top: 140px;  }
.owl-theme .owl-controls .owl-buttons .owl-next{  right: -60px;  top: 140px;   }

.page-heading { font-family: 'opensans-bold'; font-size: 30px; margin-left: 15px; }


.filter-item { margin-bottom: 20px; }
.filter-heading { clear: both; }
.filter-heading h4 { float:left; text-transform: none; font-size: 14px; font-weight: bold;  }
.filter-heading button { float: right; background: none; font-style: italic; color: #7b7b7b; font-size: 14px;  }
.side-heading { font-size: 18px; text-transform: none; text-transform: uppercase; }
.label-heading { background-color: #D9D9D9; padding: 8px 20px 8px 10px; font-size: 14px; text-transform: none; color: #4c4c4c; background-color: #d9d9d9; }

#feature { padding: 100px 0; }
.sell { }
.sell .title { text-transform: none; font-size: 25px; margin-bottom: 20px; }
.sell .title a { color: #252525; text-decoration: none; }
.sell .price { font-family: 'opensans-bold'; font-size: 32px; margin: 0; }
.sell .price span { font-size: 20px; }
.sell .heading { margin-bottom: 20px; padding-bottom: 20px;}
.sell .stars { margin: 0; }
.sell .description { font-size: 14px; line-height: 30px; padding-bottom: 20px; }
.sell .share-heading { font-size: 20px; color: #575757; font-family: 'opensans-light'; text-transform: none; }
.sell .socials { font-size: 20px; color: #575757; margin-left: 10px; margin-top: 8px;  }
.sell .socials a { color: #575757; }
.sell .form-control { border-radius: 0; height: 40px; }
.sell .btn-purchase { margin-top: 22px; }
.sell .tabpanel li a,
.sell .tabpanel li a:hover { border-radius: 0; background-color: #9d9d9d;  color: #fff; font-family: 'opensans-bold'; text-transform: uppercase; font-size: 12px; }
.sell .tabpanel .active a,
.sell .tabpanel .active a:focus { background-color: #fff; color: #252525; }
.sell .tab-content { border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 20px; }
.sell .detail .title span { font-size: 16px; font-style: italic; }
.sell .detail .title { margin: 0; }
.sell .detail .price { margin: 10px 0; }
.sell .detail .price a { text-decoration: none; font-size: 28px; color: #252525; }

.mode-list li { cursor: pointer; }
.active-mode { background: #252525; color: white; padding: 5px 10px !important; }

.mainbox .panel-heading { background-color: #252525; border-radius: 0; color: #fff; border: none; font-family: 'opensans-bold'; }
.mainbox .form-control { border-radius: 0; }
.mainbox .btn { text-transform: uppercase; font-family: 'opensans-bold'; }
.mainbox .btn-primary {color: #fff; background-color: #3071a9; border-color: #285e8e; }
.mainbox .signup-link { font-family: 'opensans-bold'; color: #414141; text-decoration: none; }



.frame-border-list { }
.frame-border-list .equalized { min-height: 50px; }
.frame-border-list .badge { }
.frame-border-list .side-heading .badge {   position: relative;  top: -2px;  left: 5px; text-transform: none;  }


.alert { font-family: 'opensans-bold'; border-radius: 0; }
b { font-family: 'opensans-bold'; }
.btn { border-radius: 0; }

.frame-thumbs { margin: 10px 0 0 6px; }
.frame-thumbs img { border:2px solid #C6C6C6; margin: 0 6px 10px 6px; float: left; } /*Change the colour*/
.frame-thumbs .active img { border:2px solid #333 !important;  }
.product-design { z-index: 2;  position: absolute;  top: 0; }
.product-frame {  z-index: 0;  position: absolute; top: 0;  background-color: #fff;
    -webkit-box-shadow: -1px 9px 18px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 18px -5px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 18px -5px rgba(0,0,0,0.75);
}
.product-backgrounds { padding-left: 40px; }
.product-original {  z-index: 4;  border:2px solid #252525; }
.product-original-horizontal { position: absolute; left: 26%; top: 40%; }
.product-original-vertical { position: absolute; left: 36%; top: 40%; }
.product-types img { cursor: pointer; }

.ribbon-wrapper {
    /*width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: 12px;*/
    width: 111px;
    height: 146px;
    overflow: hidden;
    position: absolute;
    top: -4px;
    right: 12px;
    z-index: 200;
}

.ribbon {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 26px;
    width: 150px;
    /*top: 15px;
    width: 120px;*/

    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
    content: "";
    border-top:   3px solid #6e8900;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon:before {  left: 0;  }
.ribbon:after {  right: 0;  }
.ribbon-green {
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
}
.ribbon-red {
    color: #fff;
    text-shadow: none;
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}
.owl-carousel .img-frame { width: 220px !important; }
.owl-carousel .item .detail { bottom: 15px; }
.owl-spotlight .item img { display: block;  width: 100%;  height: auto;  }
.owl-spotlight .item { margin: 0; }
.owl-product-controls.owl-theme .owl-controls .owl-buttons .owl-prev { left: -40px; top: 37px; font-size: 34px !important;  }
.owl-product-controls.owl-theme .owl-controls .owl-buttons .owl-next  { right: -40px; top: 37px; font-size: 34px !important;}
.owl-product-controls.owl-theme .owl-pagination { display: none; }

.password-link { font-size:  12px; color: #252525; }

.cart .page-heading { margin-left: 0; }
.cart-amount { text-align: right;  padding: 15px 19px;  }
.cart-total { font-size: 12px; border: 1px solid #ddd; text-align: right; padding: 15px 19px; margin-bottom: 15px;  }
.cart-total .side div { margin-top: 5px; }
.cart-title { font-size: 14px; font-family: 'opensans-bold'; }
.cart-value { font-size: 16px; font-family: 'opensans-bold'; font-weight: bold; }
.cart-buttons { text-align: center; }

.table-product .list-detail { font-size: 12px; }
.table-product th { font-family: 'opensans-bold'; }
.table-product .amount { text-align: right; }

/*Pager*/

/*.user-content .side-heading { padding-left: 15px; }*/
.user-content .check { font-size: 30px; margin: 0 auto; }
.user-content .info { margin-bottom: 10px; }
.nav-user li a { font-family: 'opensans-bold'; font-size: 13px; color: #252525; }
.nav-user li a:hover { background-color: #252525; border-radius: 0; color: #fff; }
.nav-user .active a { background-color: #252525 !important; border-radius: 0; color: #fff; }
.btn-edit, .btn-edit:hover, .btn-edit:focus  { background-color: transparent; text-transform: none; color: #252525; border-radius: 5px; border-color: #252525; }
.address-box { padding-left: 20px; margin-bottom: 10px; }
.landmark { font-size: 12px; }

.checkout { font-size: 13px; }
.checkout p { font-size: 13px; }
.checkout .fa-truck { font-size: 20px; position: relative; top: 10px; }
.checkout .radio { font-size: 12px; padding-left: 20px; }
.checkbox-shipping { font-size: 11px; }
.normal-link, .normal-link:hover { color: #252525; }
.checkout .method .radio { border-bottom: 2px dashed #c4c4c4; padding-bottom: 20px; }
.checkout .amount { text-align: right; }
.checkout .amount .total { padding: 10px 0; margin-top: 10px; }
.checkout .amount { margin-bottom: 20px; }


.table-tracking { }
.table-tracking td { font-size: 12px; }
.table-tracking th { font-size: 12px; }

form label { font-family: 'opensans-bold'; }


slider span.bar.selection { background-color: #252525; }

@font-face { font-family: 'MTCORSVA'; src: url('../fonts/MTCORSVA.ttf'); }
@font-face { font-family: 'telegrafico'; src: url('../fonts/Telegrafico.ttf'); }
@font-face { font-family: 'opensans-bold'; src: url('../fonts/OpenSans-Bold.ttf'); }
@font-face { font-family: 'opensans-light'; src: url('../fonts/OpenSans-Light.ttf'); }
@font-face { font-family: 'opensans-regular'; src: url('../fonts/OpenSans-Regular.ttf'); }

#browse-pages { display: inline-block; }
#pbApp .btn-default { padding-left: 10px; padding-right: 10px; }
#browse-pages li { padding: 10px; font-size: 12px; font-family: 'telegrafico'; }
#browse-pages .active { background-color: #252525; color: #fff; padding: 5px; }
.home-icon { font-size: 20px !important; }

.drag-drop-box { min-height: 50px; border: 2px dashed #ccc; }
.frame-upload { }
.frame-upload .progress { height: 10px; }
.frame-upload .thumbnail { margin-bottom: 10px; }

.product-update .form-control { height: 28px; font-size: 12px; }

.saved-mark, .load-mark { font-size: 24px; position: relative; left: 5px;  top: 3px; }
.saved-mark { color: limegreen;}
.load-mark {  }

.design-list img { border: 3px solid #ccc; min-height: 130px; }
.design-list img:hover { border: 3px solid #a5a5a5; }

.cuteTitle { text-transform: none; font-size: 14px; line-height: 15px; margin-bottom: 0; }
.cuteTitle span { font-size: 11px; font-style: italic; }

/*cloacking angular scripts*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


